{
    "presets" : [
        ["@babel/preset-env", { "targets" : { "node" : "current" } }],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "parserOpts": {
        "plugins": ["jsx", "typescript"]
    }
}
